@charset "utf-8";

body {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
  font-family: "Noto Sans", "Noto Sans JP";
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.readmore {
  font-size: 20px;
  text-align: center;

  a {
    font-size: 12px;
    padding-bottom: 1px;
    position: relative;

    &::after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: #333;
      position: absolute;
      left: 0;
      bottom: -5px;
    }
  }
}

// ヘッダーに関するスタイル
.header {
  width: 100%;
  height: 120px;
  background-color: #fff;
  box-sizing: border-box;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;

  .site-title {
    padding: 20px;
  }

  img {
    max-width: 100%;
  }

  nav {
    display: block;
    background: black;
    padding: 5px;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
  }

  li {
    text-align: left;
    color: white;
    padding: 10px 60px 10px 0;
  }
}

// ピックアップ記事3つに関するスタイル
.pickup {
  display: flex;
  justify-content: space-between;
  padding-top: 170px;
  margin-bottom: 50px;

  .article {
    width: 32%;
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .article-title {
    font-weight: bold;
    margin: 10px 0;
  }

  .catch {
    text-align: center;

    a {
      font-size: 12px;
      padding-bottom: 1px;
      color: #333;
      position: relative;

      &::after {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #333;
        display: inline-block;
        position: absolute;
        left: 0;
        bottom: -5px;
      }
    }
  }
}

// メインに関するスタイル
.container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;

  main {
    width: 65%;
  }

  .article {
    margin-bottom: 80px;
  }

  .main-title {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 60px;
  }

  ul {
    display: flex;
    justify-content: left;
    margin-bottom: 10px;
  }

  li {
    margin-top: 15px;
    margin-right: 15px;
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .text {
    padding: 10px 0 15px 0;
  }

  // サイドバーに関するスタイル
  .aside {
    width: 33%;
    padding: 20px;
  }

  .section-title {
    font-weight: bold;
    margin-bottom: 30px;
  }

  .writer {
    text-align: center;
    margin-bottom: 60px;

    img {
      width: 130px;
      height: 130px;
      border-radius: 50%;
      margin-bottom: 30px;

      .profile {
        font-size: 10px;
        text-align: left;
      }
    }
  }

  .ranking {
    margin-bottom: 15px;

    .section-title {
      text-align: center;
      font-weight: bold;
    }

    .article {
      margin-bottom: 20px;
    }

    img {
      width: 100%;
      height: 200px;
    }

    .text {
      text-align: left;
    }
  }

  .archive {
    margin-bottom: 60px;

    .section-title {
      text-align: center;
      font-weight: bold;
    }

    ul {
      display: block;
    }

    li {
      padding: 15px;
      border-bottom: solid 1px #777;
      text-align: left;

      &:first-child {
        border-top: solid 1px #777;
        ;
      }
    }
  }
}

// フッターに関するスタイル
footer {
  background-color: #f7f7f7;

  .content {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
  }

  .item {
    width: 32%;
    margin: 0 15px;
  }

  .footer-title {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 22px;
  }

  .about-list {
    margin: 20px 0;

    li {
      margin-bottom: 5px;
    }
  }

  .arrow {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    color: #333;

    &::before {
      content: "";
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 6px 0 6px 8px;
      border-color: transparent transparent transparent #333;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -6px;
    }
  }

  .menu-list {
    display: block;
    border-bottom: solid 1px #777;

    li {
      padding: 15px;
      border-top: solid 1px #777;
    }
  }

  .copyright {
    text-align: center;
  }
}

/*-------------------------------------------
SP
-------------------------------------------*/
@media screen and (max-width: 599px) {
  /* header */
  .header {
    position: fixed;
    z-index: 999;
  }
  nav {
      /* 横スクロールを表示 */
      overflow-x: scroll;
    }

/* pickup */
.pickup {
  padding-top: 150px;
  flex-direction: column;

  .article {
    width: 100%;
    }
    .article-title {
      margin: 20px;
      text-align: center;
    }
}
/* container */
  .container {
    flex-direction: column;
/* main */
      main {
      width: 100%;
      }
      .main-title {
        margin-bottom: 15px;
        margin-top: 30px;
        a {
          font-size: 20px;
        }
      }
      /* aside */
      .aside {
        width: 100%;
      }
    }
      /* footer */
    .footer .content {
      flex-direction: column;
      .item {
          width: 100%;
          margin: 10px;

          .menu-list {
              margin-bottom: 15px;
            }
        }
    }
/*  */
}
